*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(rgb(239, 234, 90), rgb(104, 192, 78));
    
}

body H1{
    text-align: center;
    margin-top: 30px;
    color: #1d1d1d;   
}

#container{
    margin: auto;
    display: block;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 5px 5px 0px rgba(151, 150, 150, 0.689);
    background-color: white;
    margin-bottom: 30px;
    
}
 input{
    height: 40px;
    width: 279px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    margin-top: 2px;
}

#cep{
    width: 180px;
}

#ddd{
    width: 60px;
}

button{
    padding: 2px 2px;
    height: 40px;
    width: 280px;
    border: none;
    margin-left: 1px;
    font-size: 0.9em;  
    background-color: #d48f8f;
    color: rgb(79, 13, 13);
    margin-top: -7px;
    display: block;
}

button:hover{
    background-color: #467246; 
}
label{
   font-weight: 600; 
   padding-left: 5px;
   font-size: 1.2em;
   
}

footer{
    background-color: rgb(33, 33, 33);
    text-align: center;
    color: rgb(168, 167, 167);
    padding-top: 30px;
    padding-bottom: 30px;   
}

footer h2{
    font-size: 1em;
    font-weight: 500;
}

footer p{
    font-size: 3em;
    font-family: 'Allura', cursive;
    color: white;
}

@media screen and (min-width: 1000px){
    #container{
        margin: auto;
        display: block;
        padding: 20px;
        margin-top: 20px;
        border-radius: 15px;
        width: 600px;
        box-shadow: 5px 5px 0px rgba(151, 150, 150, 0.689);
        background-color: white;
        margin-bottom: 30px;
        
    }
    input{
        height: 40px;
        width: 560px;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.2em;
    }

    #cep{
        width: 270px;
    }

    button{
        padding: 5px 5px;
        height: 50px;
        width: 280px;
        border: none;
        margin-top: -3px;
        font-size: 0.9em;  
        background-color: #c56565;
        color: rgb(79, 13, 13);
        float: right;
        display: block;
    }
}